<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pdfMake</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Prohgress bar-->
  <ion-progress-bar [value]="progressValue"></ion-progress-bar>
  
  <!--
  <form (ngSubmit)="generateDynamicPDF()" [formGroup]="myForm">
    <ion-item>
      <ion-label>Include Logo Image</ion-label>
      <ion-checkbox formControlName="showLogo" slot="start"></ion-checkbox>

    </ion-item>

    <ion-item>
      <ion-label>Include Watermark</ion-label>
      <ion-checkbox formControlName="showWatermark" slot="end"></ion-checkbox>
    </ion-item>
    
    


    <ion-item>
      <ion-label position="stacked">From</ion-label>
      <ion-input formControlName="from"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">To</ion-label>
      <ion-input formControlName="to"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Text</ion-label>
      <ion-textarea formControlName="text" rows ="3"></ion-textarea>
    </ion-item>


    <ion-list>
      <ion-accordion-group >
        <ion-accordion #myAccordion value="start">
          <ion-item slot="header">
            <ion-label>Start Date</ion-label>
            <ion-note slot="end" id="datetimeValue">{{selectedDate | date: 'dd/MM/yyyy'}}</ion-note>
          </ion-item>
          <ion-datetime
            id="datetime"
            displayFormat="dd/MM/yyyy"
            slot="content"
            presentation="date"
            min="01-01-1980"
            max="31-01-2100"
            
            [(ngModel)]="selectedDate"
            name="startDate"
           
          ></ion-datetime>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    
    <ion-item-divider></ion-item-divider>
  
    <ion-list >
      <ion-accordion-group >
        <ion-accordion #myAccordion value="start">
          <ion-item slot="header">
            <ion-label >End Date</ion-label>
            <ion-note slot="end" id="datetimeValue">{{selectedEndDate| date: 'dd/MM/yyyy'}}</ion-note>
          </ion-item>
          <ion-datetime
            id="datetime"
            displayFormat="dd/MM/yyyy"
            slot="content"
            presentation="date"
            min="01-01-1980"
            max="31-01-2100"
            
            [(ngModel)]="selectedEndDate"
            name="endDate"
           
          ></ion-datetime>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>

    <ion-button expand="full" (click)="generateDynamicPDF()" type="submit">Create PDF</ion-button>


    
  </form>

-->

  <form #f = "ngForm" (ngSubmit)="generateDynamicPDF(f)">
    <ion-item>
      <ion-label position = "floating">Title</ion-label>
    </ion-item>
    

    <ion-item>
      <ion-label>Include Logo Image</ion-label>
      <ion-checkbox formControlName="showLogo" slot="start"></ion-checkbox>

    </ion-item>

    <ion-item>
      <ion-label>Include Watermark</ion-label>
      <ion-checkbox formControlName="showWatermark" slot="end"></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>{{ checkBoxAllDates ? 'All Dates' : 'Filter Dates Below'}}</ion-label>
        <ion-checkbox  name="checkBoxallDatesValue" [(ngModel)]="checkBoxAllDates" slot="end"></ion-checkbox>
    </ion-item>


    <ion-list *ngIf="!checkBoxAllDates">
      <ion-accordion-group>
        <ion-accordion #myAccordion value="start">
          <ion-item  slot="header">
            <ion-label>Start Date</ion-label>
            <ion-note slot="end" id="datetimeValue">{{selectedDate | date: 'dd/MM/yyyy'}}</ion-note>
          </ion-item>
          <ion-datetime
            id="datetime"
            displayFormat="dd/MM/yyyy"
            slot="content"
            presentation="date"
            min="01-01-1980"
            max="31-01-2100"
            
            [(ngModel)]="selectedDate"
            name="startDate"
           
          ></ion-datetime>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    
    <ion-item-divider></ion-item-divider>
      <!--<ion-input required=true [(ngModel)]="uploadEvent.startdate" name = "startdate"></ion-input>-->
    
    <!--End Date Pciker-->
    <ion-list *ngIf="!checkBoxAllDates" >
      <ion-accordion-group >
        <ion-accordion #myAccordion value="start">
          <ion-item slot="header">
            <ion-label >End Date</ion-label>
            <ion-note slot="end" id="datetimeValue">{{selectedEndDate| date: 'dd/MM/yyyy'}}</ion-note>
          </ion-item>
          <ion-datetime
            id="datetime"
            displayFormat="dd/MM/yyyy"
            slot="content"
            presentation="date"
            min="01-01-1980"
            max="31-01-2100"
            
            [(ngModel)]="selectedEndDate"
            name="endDate"
           
          ></ion-datetime>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
   

    <ion-item-divider></ion-item-divider>






<!--ion-fab not working a button floatong over opther fields-->
<ion-item-divider></ion-item-divider>

<!--Update Button-->
<div class="center">
    <ion-button shape="round" color="success" style="margin-top: 20px;" type="submit" >
    <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
    Create PDF
  </ion-button>
  </div>
</form>

 
 
  
  <!--<ion-button (click)="generateDynamicPDF()">Create Dynamicc PDF</ion-button>-->
  <!--Display photop if user takes one-->

  <ion-progress-bar [value]="progressValue"></ion-progress-bar>

  <img [src]="photoPreview" *ngIf="photoPreview">

  <ion-button (click)="takePicture()">Add Profile Pic</ion-button>
  <ion-button (click)="downloadPDF()" color="secondry" [disabled]="!pdfObj">Save PDF</ion-button>
</ion-content>
